<h1>My Alcohol Free Wine</h1>
<p>Welcome to 'My Alcohol Free Wine' please feel free to browse the site using the navigation buttons listed above</p>
<p>To register to the site, please click the 'Sign up' button below'</p>

<%= link_to 'Sign up', new_user_path(page: @users.current_page) %>

